/* Estilos globales */
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Canvas */
canvas{
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    background-color: white;
}

/* Barra que indica el grosor del pincel */
.container{
    width: 80vh;
    position: absolute;
    top: 50%;
    left:60px;
    transform:translate(-50%,-50%) rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    overflow: visible; 
}

input[type="range"]{
    width: 40%;
    -webkit-appearance: none;
    height: 10px;
    position: relative;
    background-color: black;
    border-radius: 5px;
    outline: none;
    border: 1px solid white;
    overflow: visible;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    overflow: visible;
}

/* Menú de navegación */
.nav{
    background-color: white;    
    border-top:1px solid #ccc;
}

/* Selectores de color */
input[type="color"]{
    display: none;
 }

.selector {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em; 
    display:inline-block;
    border:1px solid black;
}

.selector-ayuda{
    border-radius: 50%;
    width: 1em;
    height: 1em; 
    display:inline-block;
    border:1px solid black; 
}

.bg-color{
    background-color: white;
}

.color{
    background-color: black;
}
